:root{
  --white : antiquewhite;
  --darkbrown: #5C4033;
  --black:  black;
  --gray: rgb(158, 158, 158);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
  color: var(--darkbrown);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--darkbrown);
}
ul {
  list-style: none;
}
.container {
  background-color: white;

}
.row {
  width: 80%;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.navbar .main-menu {
  display: flex;
}
.main-menu li a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--darkbrown);
}
li a:hover {
  color: var(--darkbrown) ;
}
.menu-btn {
  display: none;
}
.row-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.row-content p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
}
#logo{
  width: 13%;
  height: 150%;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 0;
}
#preloader{
  position:fixed;
  z-index:100;
  width: 100vw;
  height: 100vh;
  background-image:url("0586af6879e518e2a725f80d18cf8e8e.gif") ;
  background-size: cover;
  background-repeat: no-repeat;
  
}
#scroll_title{
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: center;
}

.posts_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.post_wrapper{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: var(--gray);
  color: white;
  border-radius: 15px;
  border: 2px solid var(--black);
}

.post_img{
  width: 36vw;
  height: 100%;
  border: 2px ridge white;
  border-radius: 15px;
  background-color: var(--darkbrown);
}

.post_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6em;
  color: white;
  font-size: 1.2em;
  margin-left: 1.8em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.publishedAt{
  opacity: 0.6;
}

footer {
margin-top: 20px;
background-color: white;
color: var(--darkbrown);
padding: 20px 0;
text-align: center;
}

footer p {
font-size: 1.4em;
}

@media only screen and (max-width: 450px){
  body{
      width: 100vw;
      margin: 0;
      padding: 0;
  }
  .main-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #252525;
    transition: 0.5s all ease;
    /* visibility: hidden; */
    display: none;
    align-items: center;
    transform: translateX(-800px);
    padding-top: 60px;
  }

  .main-menu.show {
    transform: translateX(0px);
    transition: 0.5s all ease;
  }
  .main-menu li a {
    margin-bottom: 10px;
    display: block;
  }
  .menu-btn {
    display: block;
    position: absolute;
    color: black;
    top: 10px;
    right: 30px;
    font-size: 2rem;
  }
  #logo{
    width: 100px;
    height: 100px;
    margin-left: -40px;
}
  #scroll_title{
      margin-top: 2em;
      margin-left: 0;
      margin-right: 0;
      font-size: 16px ;
  }
  .posts_wrapper{
      margin-left: 0;
      margin-bottom: 0;
      padding: 0;
  }
  
  .post_wrapper{
      flex-direction: column;
      justify-content: space-between;
      width: 90vw;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.8em;
      padding: 0.6em;
      border: 2px solid var(--navy);
  }
  
  .post_img{
      width: 100%;
      height: 40vh;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
  }
  
  .post_text{
      flex-direction: column;
      justify-content: space-between;
      gap: 0.8em;
      font-size: 12px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.8em;
      margin-top: 0.8em;
  }
  
  footer {
    width: 100vw;
    background-color: white;
}
footer p{
    font-size: 12px;
    line-height: 18px;
    margin-right: 4px;
    margin-left: 4px;
}
}